:root {
    --primary: #b20a0b;
    --light: rgb(255, 255, 255);
    --primary-hover: #e23333;
    --car-fade-duration: 1s;
}

@font-face {
    font-family: Montserrat;
    src: url(./Resources/Montserrat-VariableFont_wght.ttf);
}

html {
    height: -webkit-fill-available;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    height: -webkit-fill-available;
    margin: 0;
    font-family: Montserrat, "sans serif";
}

* {
    overflow: hidden;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    background-color: black;
}

nav {
    display: flex;
}

nav > a {
    padding: 0 1em;

    color: var(--light);
    text-decoration: none;
    transition: 0.2s;
}

nav > a:hover {
    background-color: #2e2e2e;
    text-decoration: underline;
}

#logo-anchor {
    display: flex;
    align-items: center;
}

#logo-anchor svg {
    height: 1.5em;
    margin: 0 1em;
}

main {
    margin: 0;
    width: 100%;
    overflow-x: hidden;
}

.slide {
    width: 100%;
    overflow-x: hidden;
    position: relative;
}

.content {
    position: absolute;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    width: calc(100% - 4em);
    padding: 2em;
}

.content h1 {
    font-size: 3em;
    margin: 0;
    opacity: 0%;
    animation: land-enter 1.25s ease 1s forwards;
}

.content p {
    margin: 0;
    font-size: 1.25em;
    opacity: 0%;
    animation: fade-enter 1.5s ease 2.25s forwards;
}

.content form {
    opacity: 0%;
    animation: fade-enter 1.5s ease 2.25s forwards;
}

.form-field {
    font-size: 1.25em;
    width: 8ch;
    text-align: center;

    padding: 0.1em;
    border: solid var(--primary) 0.15em;
    border-radius: 0.5em;
}

.form-field:focus {
    border: solid var(--primary-hover) 0.15em;
    transition: 0.3s;
}

.form-button {
    font-size: 1.25em;
    width: 4ch;
    text-align: center;

    padding: 0.1em;
    color: var(--light);
    background-color: var(--primary);
    border: solid var(--primary) 0.15em;
    border-radius: 0.5em;

    transition: all 0.3s;
}

.form-button:hover {
    background-color: var(--primary-hover);
    border-color: var(--primary-hover);
}

.background-svg {
    position: relative;
    z-index: -1;
    padding-top: 2rem;
    left: calc(-8rem + 25vw);
}

@media only screen and (min-width: 600px) {
    .background-svg {
        height: 1200px;
        width: 1200px;
        top: -15rem;
        left: calc(-15rem + 35vw);
    }
}

#ping-1 {
    position: absolute;
    right: 1em;
    bottom: 1em;
    animation: ping 2s ease forwards;
    opacity: 0%;
}

#ping-2 {
    position: absolute;
    right: 1em;
    bottom: 1em;
    animation: ping 2s ease 0.2s forwards;
    opacity: 0%;
}

.car {
    transform-origin: center;
    transform-box: fill-box;
    opacity: 0%;
}

#car-1 {

    animation: fade-enter var(--car-fade-duration) ease 0.1s forwards,
    zoom-20 2.1s ease 0.1s forwards;
}

#car-2 {
    animation: fade-enter var(--car-fade-duration) ease 0.2s forwards,
    zoom-20 2s ease 0.1s forwards;
}

#car-3 {
    animation: fade-enter var(--car-fade-duration) ease 0.3s forwards,
    zoom-10 1.9s ease 0.1s forwards;
}

#car-4 {
    animation: fade-enter var(--car-fade-duration) ease 0.4s forwards,
    zoom-10 1.8s ease 0.1s forwards;
}

#car-5 {
    animation: fade-enter var(--car-fade-duration) ease 0.5s forwards,
    zoom-10 1.7s ease 0.1s forwards;
}

#car-6 {
    animation: fade-enter var(--car-fade-duration) ease 1.2s forwards,
    zoom-5 1s ease 0.1s forwards;
}

#car-7 {
    animation: fade-enter var(--car-fade-duration) ease 0.7s forwards,
    zoom-5 1.5s ease 0.1s forwards;
}

#car-8 {
    animation: fade-enter var(--car-fade-duration) ease 0.8s forwards,
    zoom-5 1.4s ease 0.1s forwards;
}

#car-9 {
    animation: fade-enter var(--car-fade-duration) ease 0.8s forwards,
    zoom-5 1.4s ease 0.1s forwards;
}

/* Keyframes */

@keyframes land-enter {
    0% {
        transform: translateY(-75%);
        opacity: 0%;
    }

    100% {
        transform: translateY(0%);
        opacity: 100%;
    }
}

@keyframes fade-enter {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes ping {
    0% {
        r: 0;
        opacity: 100%;
        stroke: var(--primary-hover);
    }

    100% {
        r: 600;
        opacity: 3.75%;
        stroke: var(--primary-hover);
    }
}

@keyframes zoom-20 {
    0% {
        transform: scale(100%);
    }
    100% {
        transform: scale(120%);
    }
}

@keyframes zoom-10 {
    0% {
        transform: scale(100%);
    }
    100% {
        transform: scale(110%);
    }
}

@keyframes zoom-5 {
    0% {
        transform: scale(100%);
    }
    100% {
        transform: scale(105%);
    }
}