:root {
    --primary: #b20a0b;
    --light: rgb(255, 255, 255);
    --primary-hover: #e23333;
    --car-fade-duration: 1s;
}

@font-face {
    font-family: Montserrat;
    src: url(./Resources/Montserrat-VariableFont_wght.ttf);
  }

body {
    font-family: Montserrat, "sans serif";
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    font-size: 2.5em;
    width: 100%;
    height: 2em;
    background-color: black;
    display: flex;
    align-items: center;
}

#header-div {
    height: inherit;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 0 0.5em ;
}

#logo-anchor {
    display: flex;
    align-items: center;
}

#logo-svg {
    height: 1em;
}

nav {
    height: inherit;
    display: flex;
    align-items: center;
}

.nav-item {
    text-decoration: none;
    color: var(--light);
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0em 0.5em;
    margin: 0;
    cursor: pointer;
}

.nav-item:hover {
    text-decoration: underline;
    padding: 0em 0.5em;
    margin: 0;
    background-color: #2e2e2e;
    transition: 0.2s;
}

nav p {
    font-size: 0.5em;
    text-decoration: inherit;
    font-weight: 100;
    margin: 0;
    color: var(--light);
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.main-content {
    width: 100%;
    margin: 3em;

    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.main-content h1 {
    font-size: 4em;
    margin: 0;
}

.main-content p {
    font-size: 1.5em;
    margin: 0;
}

.main-content div {
    padding: 0.5em 0;
}

.form-field {
    font-size: 1.5em;
    width: 8ch;
    text-align: center;

    padding: 0.1em;
    border: solid var(--primary) 0.15em;
    border-radius: 0.5em;
}

.form-button {
    font-size: 1.5em;
    width: 8ch;
    text-align: center;

    padding: 0.1em;
    color: var(--light);
    background-color: var(--primary);
    border: solid var(--primary) 0.15em;
    border-radius: 0.5em;

    transition: all 0.3s;
}

.form-button:hover {
    background-color: var(--primary-hover);
    border-color: var(--primary-hover);
}

#zip-svg {
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: absolute;
    top: -12em;
}

@media only screen and (max-width: 800px) {
    #zip-svg {
        top: 5em;
    }
}

#ping-1 {
    position: absolute;
    right: 1em;
    bottom: 1em;
    animation: ping 2s ease forwards;
    opacity: 0%;
}

#ping-2 {
    position: absolute;
    right: 1em;
    bottom: 1em;
    animation: ping 2s ease 0.2s forwards;
    opacity: 0%;
}

.car {
    transform-origin: center;
    transform-box: fill-box;
    opacity: 0%;
}

#car-1 {

    animation: fade-enter var(--car-fade-duration) ease 0.1s forwards,
    zoom-20 2.1s ease 0.1s forwards;
}

#car-2 {
    animation: fade-enter var(--car-fade-duration) ease 0.2s forwards,
    zoom-20 2s ease 0.1s forwards;
}

#car-3 {
    animation: fade-enter var(--car-fade-duration) ease 0.3s forwards,
    zoom-10 1.9s ease 0.1s forwards;
}

#car-4 {
    animation: fade-enter var(--car-fade-duration) ease 0.4s forwards,
    zoom-10 1.8s ease 0.1s forwards;
}

#car-5 {
    animation: fade-enter var(--car-fade-duration) ease 0.5s forwards,
    zoom-10 1.7s ease 0.1s forwards;
}

#car-6 {
    animation: fade-enter var(--car-fade-duration) ease 1.2s forwards,
    zoom-5 1s ease 0.1s forwards;
}

#car-7 {
    animation: fade-enter var(--car-fade-duration) ease 0.7s forwards,
    zoom-5 1.5s ease 0.1s forwards;
}

#car-8 {
    animation: fade-enter var(--car-fade-duration) ease 0.8s forwards,
    zoom-5 1.4s ease 0.1s forwards;
}

#car-9 {
    animation: fade-enter var(--car-fade-duration) ease 0.8s forwards,
    zoom-5 1.4s ease 0.1s forwards;
}

/* Zip screen */

#zip {
    position: relative;
}

#zip .spacer {
    height: 40vh;
}

#zip #form-div {
    opacity: 0%;
    animation: fade-enter 1.5s ease 2.25s forwards;
}

#zip h1 {
    opacity: 0%;
    animation: land-enter 1.25s ease 1s forwards;
}

#zip p {
    opacity: 0%;
    animation: fade-enter 1.5s ease 2.25s forwards;
}

/* Keyframes */

@keyframes land-enter {
    0% {
        transform: translateY(-75%);
        opacity: 0%;
    }

    100% {
        transform: translateY(0%);
        opacity: 100%;
    }
}

@keyframes fade-enter {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes ping {
    0% {
        r: 0;
        opacity: 100%;
        stroke: var(--primary-hover);
    }

    100% {
        r: 600;
        opacity: 3.75%;
        stroke: var(--primary-hover);
    }
}

@keyframes zoom-20 {
    0% {
        transform: scale(100%);
    }
    100% {
        transform: scale(120%);
    }
}

@keyframes zoom-10 {
    0% {
        transform: scale(100%);
    }
    100% {
        transform: scale(110%);
    }
}

@keyframes zoom-5 {
    0% {
        transform: scale(100%);
    }
    100% {
        transform: scale(105%);
    }
}